* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  background-image: url("images/japan_bullet_train_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

#header {
  font-family: "Noto Sans", sans-serif;
  color: #d6e5e3;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 3rem;
  margin: 1rem auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.countdown-number {
  font-family: "Lexend Peta", sans-serif;
  color: #ff6b6b;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

.countdown-text {
  font-family: "Caveat", cursive;
  color: #56638a;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.6em;
}

#countdown-header-text {
  font-size: 3dvh;
}

@media (max-width: 768px) {
  body {
    background-image: url("images/japan_bullet_train_phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100vh;
  }

  #header {
    font-size: 1.1rem;
    margin: 0.5rem auto;
  }

  .countdown-number {
    font-size: 2.8rem;
  }

  .countdown-text {
    font-size: 1.3em;
  }

  #countdown-header-text {
    font-size: 1.8dvh;
  }
}
